<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css"
    <title>Eat da Burger</title>
</head>
<body>
    <div class = "container">
        <div class = "jumbotron">
            <h1 id = "kburg">Kawaii Burger</h1>
        </div>

        <div class = "row">
            <div class="col-md-4 addburg"></div>
            <div class="col-md-4 userinput"></div>
            <div class="col-md-4 eatburg"></div>
        </div>
    </div>
    {{{body}}}
</body>
</html>